{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{blog_title | default:"Document"}}</title>
    <link href="{% static 'blog/style.css' %}" rel="stylesheet" />

</head>

<body>
    <!-- Header Content -->
    {% include 'blog/includes/header.html' %}

    <!-- Dynamic Content -->
    {% block content %}
    {% endblock %}

    <!-- Footer Content -->
    {% include 'blog/includes/footer.html' %}

</body>

</html>