{% extends 'blog/base.html' %}

{% block content %}
  <div>
    {% comment %} error {% endcomment %}
    {% for field in form%}
    {% if field.errors %}
    <div>
      <span>{{field.label_tag}}</span>
      {% for error in  field.errors%}
      <span>{{error}}</span>
      {% endfor %}
    {% endif %}
    {% endfor %}

    {% comment %} success {% endcomment %}
    {% if success_message %}
    <div>
      {{success_message}}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div>
      <h1>Contact Form</h1>
      <h2>Name</h2>
      <input type="text" placeholder="Enter name" class="input" name="name" id="name" value={{name}}>
      <h2>Email</h2>
      <input type="email" placeholder="Enter email" class="input" name="email" id="email" value={{email}}>
      <h2>Message</h2>
      <textarea rows="4" name="message" id="message" value={{message}}></textarea><br />
      <input class="submit" type="submit" />
        </div>
    </form>
  </div>
{% endblock %}
