{% extends 'blog/base.html' %}

{% block content %}
  <div>
    <h1>Details Page</h1>
    <h2>{{ postData.title }}  ({{postData.category.name}})</h2>
    <p>Posted on: {{ postData.created_at|date:'F j, Y' }} --- {{ postData.created_at }}</p>
    <div class="img-post">
      <img src="{{ postData.img_url }}" height="400" width="500" />
      <div>
        <h2>Related Post :</h2>
        {% for related_post in related_posts %}
          <h3><a href="{% url 'blog:details' slug=related_post.slug %}">{{related_post.title}}</a></h3>
        {% endfor %}
      </div>
    </div>
    <h3>Content: {{ postData.content }}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, praesentium voluptatum molestiae laborum odio nulla cum possimus dolorum quam illum maxime deserunt quaerat facilis doloribus laudantium, corrupti quo. Quia, tenetur?</p>
  </div>
{% endblock %}
